footer {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 4rem;
}

footer .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .info a {
    color: #fff;
    font-family: 'Futura Std', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    transition: filter 0.2s ease;
}


footer .info a + a {
    padding-left: 1rem;
}

footer .social a + a {
    padding-left: 2rem;
}

footer .social a svg {
    --shadow-size: 0;
    aspect-ratio: 1;
    --shadow-color: #91a7ff;
    /* border-radius: 1e5px; */
    filter: drop-shadow(0 0 var(--shadow-size) var(--shadow-color));
    transition: filter 0.5s cubic-bezier(0, 0, 0.1, 1);
  }

footer .social a svg:hover:not(:active) {
    --shadow-size: 20px;
}

footer .social a svg:active {
    --shadow-size: 10px;
}

footer .social a:nth-child(1) svg{
    --shadow-color: #ff1616;
}

footer .social a:nth-child(2) svg{
    --shadow-color: #206af5;
}

footer .social a:nth-child(3) svg{
    --shadow-color: #48fe6c;
}

footer .social a:nth-child(4) svg{
    --shadow-color: #8848fe;
}

footer .social a:nth-child(5) svg{
    --shadow-color: #48feb5;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 2rem 2rem;
        flex-direction: column;
    }

    .separator {
        position: relative;
        margin: 0 1rem;
        width: 100%;
    }

    .separator div {
        width: 100%;
        height: 1px;
        background: transparent;
        border-bottom: 1px dotted #fff;
        opacity: 0.5;
        position: absolute;
        top: 14px;
    }

    footer .social {
        margin-top: 2rem;
    }

    footer .info a {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px) {
    footer .social a + a {
        padding-left: 1rem;
    }
    footer .social a svg {
        width: 22px;
        height: 22px;
    }
}