footer {
    position: absolute;
    z-index: 4;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 4rem;
}

footer .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .info a {
    color: #fff;
    font-family: 'Futura Std', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
}

footer .info a + a {
    padding-left: 1rem;
}

footer .social a + a {
    padding-left: 2rem;
}