* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #1F1F1F; 
  
  --color-primary: #8B90A7; 
  --color-secondary: #C7C3D2; 
  --color-tertiary: #8B90A7;

  --color-silver: #EEEBED;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
}