header {
    position: absolute;
    z-index: 4;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 4rem;
}

header h1 {
    font-family: 'Sacramento', cursive;
    font-family: 1.1rem;
    color: #fff;
}

.decoration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.decoration .doted {
    background: #fff;
    width: 1px;
    height: 30px;
    margin: .24rem;
    opacity: 0.4;
    transform: skewX(-20deg)
}

@media screen and (max-width: 768px) {
    header {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-flow: column;
    }

    .decoration {
        display: none;
    }

    header h1 {
        font-size: 1.5rem;
    }
}