.header {
    position: absolute;
    z-index: 4;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem 4rem;
}

.header h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #fff;
}

@keyframes musicReaction {
    0% {
        transform: skewX(-20deg);
    }

    100% {
        transform: skewX(20deg);
    }
}

.decoration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.decoration .doted {
    background: #fff;
    width: 2px;
    height: 30px;
    margin: .24rem;
    border-radius: 50rem;
    transform: skewX(0);
    will-change: transform;
}

.decoration.active .doted {
    animation: musicReaction .5s infinite ease-in-out alternate;
}

.decoration .doted:nth-child(2) {
    animation-delay: .2s;
    width: 2.5px;
    transform: skewX(-20deg);
    will-change: transform;
}


@media screen and (max-width: 768px) {
    .header {
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 480px) {
    .header {
        flex-flow: column;
    }

    .decoration {
        display: none;
    }

    .header h1 {
        font-size: 2rem;
    }
}
