@import url(global.css);

main {
    width: 100vw;
    height: 100vh;
}

.gradient {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.radial-gradient {
    background: radial-gradient(circle, transparent, #0A1218);
}

.gradient-1 {
    background: linear-gradient(to right, #0A1218 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient-2 {
    background: linear-gradient(to top, #0A1218 0%, rgba(0, 0, 0, 0) 100%);
}

figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

figure video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-height: calc(100vh - 5px);
    position: fixed;
    z-index: 1;
}

figure .play {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


figure #playButton {
    position: absolute;
    background: none;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 50rem;
    z-index: 2;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}

#playButton::after {
    content: " ";
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: none;
    border: 1px solid #fff;
    border-radius: 50rem;
    top: -20px;
    left: -17px;
    z-index: 4;
    opacity: 50%;
}

#playButton::before {
    content: " ";
    position: absolute;
    width: 7rem;
    height: 7rem;
    background: none;
    border: 1px solid #fff;
    border-radius: 50rem;
    top: -36px;
    left: -33px;
    z-index: 4;
    opacity: 20%;
}

@import url(header.css);
@import url(footer.css);