.fones {
  inset: 0;
  position: absolute;
  margin: auto;
}

#section-1 .fones {
  width: auto;
  height: 77.5%;
  top: calc(100vh - 77.5%);
}

#section-2 .fones {
  width: auto;
  height: 77.5%;
  top: calc(100vh - 77.5%);
}

#section-3 .fones {
  width: auto;
  height: 77.5%;
  top: calc(100vh - 77.5%);
}